* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif; */

:root {
  --primary-color: #2f2e41;
  --secondary-color: #00bfa6;
  --text-color: #ffffff;
}

body {
  background-color: var(--primary-color);
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* header */

#header {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 100px;
}

#header ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

#header a {
  text-decoration: none;
  color: var(--text-color);
}

/* main */

#main {
  display: flex;
  color: var(--text-color);
  gap: 60px;
  margin-bottom: 150px;
}

#main .content {
  text-align: center;
}

#main img {
  object-fit: contain;
}

#main h1 {
  font-family: "JetBrains Mono", monospace;
  padding-bottom: 50px;
  font-size: 36px;
}

#main p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-size: 16px;
}

.color-green {
  color: var(--secondary-color);
}

.bold-green {
  font-weight: bold;
  color: var(--secondary-color);
}

/* footer */

#footer {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  color: var(--text-color);
}

#footer hr {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 2px;
  background-color: var(--secondary-color);
  border: none;
}

.footer-format {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* responsive */

@media (max-width: 700px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  #header {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  #header ul {
    gap: 30px;
  }

  #main {
    flex-direction: column;
    margin-bottom: 40px;
  }

  #main img {
    width: auto;
    height: auto;
    object-fit: contain;
  }

  #footer {
    line-height: 2;
    margin-bottom: 20px;
  }
  .footer-format {
    flex-direction: column;
    gap: 40px;
  }
}
